<ul>
    <% missionsFlown.forEach(function(missionFlown, missionIndex) { %>
        <li class="mission-list-item">
            <div class="mission-header" click-toggle="mission-<%= missionIndex %>">
                <h3><%= missionFlown.mission.name %></h3>
                <p class="date">on: <%= missionFlown.formattedDate %></p>
                <span class="down-icon">▼</span>
                <span class="up-icon">▲</span>
            </div>
            <div class="mission-content" toggle-target="mission-<%= missionIndex %>">
                <p>Outcome: <%= missionFlown.success %></p>
                <p>Rebel VPs: <%= missionFlown.vps.rebel %></p>
                <p>Imperial VPs: <%= missionFlown.vps.imperial %></p>
                <p>
                    <strong>Pilots:</strong>
                    <% missionFlown.pilots.forEach(function(pilot) { %>
                        <%= pilot.build.callsign %>, 
                    <% }); %>
                </p>
            </div>
        </li>
    <% }); %>
</ul>
