<div class="pilot-list">
    <ul>
        <% pilots.forEach(function(pilot) { %>
            <li class="pilot-list-item">
                <h3><%= pilot.name %><h3>
                <p>Pilot skill: <%= pilot.skill %></p>
                <div class="pilot-image">
                    <div class="image-wrapper">
                        <img src="<%= pilot.image %>" />
                    </div>
                </div>
                <p><a href="https://hotac-ship-builder.netlify.com/#/<%= pilot.link %>" target="_blank">Link to build</a></p>
                <p>Missions:</p>
            </li>
        <% }); %>
    </ul>
</div>
