.structure
    max-width: 1200px
    margin: 0 auto

    @include media($media-main-padding)
        padding: 0 $site-padding

    @include media('print')
        padding: 0
        max-width: none

.header
    background-color: $color-primary
    color: #fff
    padding: $site-padding

    @include media($media-main-padding)
        margin-bottom: $site-padding

    h1
        font-size: 30px

.main-header
    background-color: $color-primary
    color: #fff
    padding: $site-padding

    h2
        font-size: 20px
        margin: 0
        line-height: 1
